{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap.min.css' %}">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="map">Map</a></li>
      <li role="presentation"><a href="timeline">Timeline</a></li>
      <li role="presentation>" class="active"><a href="graph">Graph</a> </li>
    </ul>
  </div>
  <script>
    var trace1 = {
      x: [],
      y: [],
      type: 'scatter'
    };
  </script>
  {% if flood_events %}
    {% for flood_event in flood_events %}
      {% for rain in flood_event.2 %}
        <script>
          trace1.x.push("{{ rain.date_taken }}")
          trace1.y.push("{{ rain.level }}")
        </script>
      {% endfor %}
    {% endfor %}
  {% endif %}
  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    var data = [trace1];
    Plotly.newPlot('myDiv', data);
  </script>
</body>
</html>