{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap.min.css' %}">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <nav class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="map">Map</a></li>
    <li role="presentation"><a href="timeline">Timeline</a></li>
  </nav>
  <div class="container">
    {% if floods %}
      {% for flood in floods %}
        <div class="alert alert-danger">
          <strong>Alert!</strong> <p>Location: {{flood.description}}<br>Type: {{ flood.severity }}<br>Threat Level: {{ flood.severitylevel }}<br>Time: {{flood.time|date:'d/m/Y H:m'}}</p>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-success">
        <strong>No Warnings!</strong> There are currently no flood warnings.
      </div>
    {% endif %}
    HELLLOOO DATASDASDK
  </div>
</body>
</html>

