{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap.min.css' %}">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <nav class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="map">Map</a></li>
    <li role="presentation"><a href="timeline">Timeline</a></li>
  </nav>
  <div class="jumbotron">
    {% if floods %}
      {% for flood in floods %}
        <li><p>Location:{{flood.description}}</p><p>Type:{{ flood.severity }}</p><p>Threat Level:{{ flood.severitylevel }}</p></li>
      {% endfor %}
    {% else %}
      <h5 style="text-align: center">There are no flood alerts</h5>

  </div>
  <div class="container">
    HELLLOOO DATASDASDK
  </div>
</body>
</html>

