{% load staticfiles %}
<html>
  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'flood/js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <style>
    #map{ height: 90% }
  </style>
</head>
<body>
 <ul class="nav nav-pills">
   <li role="presentation"><a href="/">Home</a></li>
   <li role="presentation" class="active"><a href="map">Map</a></li>
   <li role="presentation"><a href="timeline">Timeline</a></li>
 </ul>

 <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
 <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
 <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

 <div class="container">
    <div id="map"></div>
 </div>
 <script>

   // initialize the map
   var map = L.map('map').setView([53.79, -1.55], 10);

   // load a tile layer
   L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mspstead.pa7bn7bn',
      accessToken: 'pk.eyJ1IjoibXNwc3RlYWQiLCJhIjoiY2lsYjFsZHk1MDA0cHZ3bHpnNDJ3Njl1aCJ9.6fOLqnTPbgherhFtNpcIKA'
      }).addTo(map);
   var markers = new L.MarkerClusterGroup();
</script>

        {% if photo_list %}
            {% for photo in photo_list %}
                <script type="text/javascript">
                var latitude = "{{ photo.lat }}";
                var longitude = "{{ photo.lng }}";
                var url1 = "{{ photo.url }}";
                var date = "{{ photo.date_taken }}"
                marker = new L.marker([latitude,longitude]).bindPopup('<img src='+ url1 +' width="100%"/><h2>'+ date +'</h2>');
                marker.addTo(markers)
                </script>
            {% endfor %}
        {% else %}
            <p>No photos available</p>
        {% endif %}
        {% if tweet_list %}
            {% for tweet in tweet_list %}
                <script type="text/javascript">
                    var lat = "{{ tweet.lat }}";
                    var long = "{{ tweet.lng }}";
                    var html = '{{ tweet.html|safe }}';
                    mark = new L.marker([lat,long]).bindPopup(html);
                    mark.addTo(markers)
                </script>
            {% endfor %}
        {% endif %}
<script>
    markers.addTo(map)
</script>
</body>
</html>