{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Timeline</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/bootstrap-glyphicons.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'flood/css/timeline.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'flood/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'flood/js/timelinefunctions.js' %}"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<div class="container">
    <nav class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="map">Map</a></li>
        <li role="presentation" class="active"><a href="timeline">Timeline</a></li>
    </nav>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Flood Event
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="timeline.html">All Events</a></li>
                <script>
                    var trace1 = {
                    x: [],
                    y: [],
                    type: 'scatter'
                    };
                </script>
               {% if flood_events %} 
                    {% for flood_event in flood_events reversed %} 
                        <li><a href="timeline.html?{{ flood_event.0|date:'SHORT_DATE_FORMAT' }}+{{ flood_event.1|date:'SHORT_DATE_FORMAT' }}">{{ flood_event.0|date:'d/m/Y' }} - {{ flood_event.1|date:'d/m/Y' }}</a></li> 
                    {% endfor %} 
               {% endif %}
              </ul>
        </div>
    </div>
    {% if flood_events %}
            {% for flood_event in flood_events %}
                {% for rain in flood_event.2 %}
                    <script>
                        var substr = location.search.substr(1);
                        var dates = substr.split("+");
                        var dateTaken = new Date("{{ rain.date_taken|date:'SHORT_DATE_FORMAT' }}")
                        if (dateTaken >= new Date(dates[0]) && dateTaken <= new Date(dates[1])) {
                            trace1.x.push("{{ rain.date_taken|date:'d/m/Y H:m' }}")
                            trace1.y.push("{{ rain.level }}")
                        }
                        else if (dates[0] == ""){
                            trace1.x.push("{{ rain.date_taken|date:'d/m/Y H:m' }}")
                            trace1.y.push("{{ rain.level }}")
                        }
                    </script>
                {% endfor %}
            {% endfor %}
    {% endif %}
    <script>
        if (dates[0] != ""){
            if (trace1.x === 0 || trace1.y.length == 0){
                document.write('<h4 style="text-align: center">No Rain gauge data available for the flood event selected.</h4>')
            }
            else if (trace1.y.length <= 1) {
                document.write('<h4 style="text-align: center">Not enough rain gauge data available for selected flood event.</h4>')
            }
            else {
                document.write('<div id="myDiv" style="min-width: 1100px; width:100%; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>')
                var data = [trace1]
                Plotly.newPlot('myDiv', data);
            }
        }
        else if (dates[0] == ""){
            document.write('<h4 style="text-align: center">Displaying rain gauge for all available dates.</h4>')
            document.write('<div id="myDiv" style="min-width: 1100px; width:100%; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>')
            var data = [trace1];
            Plotly.newPlot('myDiv', data);
        }
    </script>
    <ul class="timeline">
        {% if combined_list %}
            {% for object in combined_list reversed %}
                <script>
                    var objDate = new Date("{{ object.0|date:'SHORT_DATE_FORMAT' }}");
                    var objType = "{{ object.1 }}"

                    if (objDate >= new Date(dates[0]) && objDate <= new Date(dates[1])) {
                        if(objType == "photo"){
                            document.write('<li><div class="timeline-badge success"><i class="glyphicon glyphicon-camera"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title">{{ object.2.date_taken.text }}</h4></div><div class="timeline-body"><a href="{{ object.2.url }}">{{ object.2.date_taken }}</a><b>{{ object.2.locality }}</b><img src="{{ object.2.url }}" height="100%" width="100%" /><button onclick="up({{ object.2.id }})" class="btn btn-success" type="button">up</button><button onclick="down({{ object.2.id }})" class="btn btn-danger" type="button">down</button><b id="{{ object.2.id }}">{{ object.2.score }}</b></div></div></li>')
                        }
                        else if(objType == "tweet" && '{{ object.2|safe }}' !== ""){
                            document.write('<li class="timeline-inverted"><div class="timeline-badge info"><i class="glyphicon glyphicon-info-sign"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title"></h4><div class="timeline-body">{{ object.2|safe }}</div></div></li>')

                        }
                    }
                    else if (dates[0] == ""){
                        if (objType == "photo"){
                            document.write('<li><div class="timeline-badge success"><i class="glyphicon glyphicon-camera"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title"></h4></div><div class="timeline-body"><a href="{{ object.2.url }}">{{ object.2.date_taken }}</a><b>{{ object.2.locality }}</b><img src="{{ object.2.url }}" height="100%" width="100%" /><button onclick="up({{ object.2.id }})" class="btn btn-success" type="button">up</button><button onclick="down({{ object.2.id }})" class="btn btn-danger" type="button">down</button><b id="{{ object.2.id }}">{{ object.2.score }}</b></div></div></li>')
                        }
                        else if(objType == "tweet" && '{{ object.2|safe }}' !== ""){
                            document.write('<li class="timeline-inverted"><div class="timeline-badge info"><i class="glyphicon glyphicon-info-sign"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title"></h4><div class="timeline-body">{{ object.2|safe }}</div></div></li>')
                        }
                    }
                </script>
            {% endfor %}
        {% else %}
            <p>No photos available</p>
        {% endif %}
    </ul>
</div>
</html>
